{% extends 'layouts/task_layout.html' %}

<!-- block is a Keyword & content is a standarized name, but i could be anything -->
{% block content %}

<h1>My Tasks</h1>
<hr />

<a href="{% url 'create_task' %}">
  <button class="btn-primary">Create</button>
</a>

<!-- ====== FOR loop ====== -->
<ul class="card-container">
  {% for task in tasks %}

  <div class="card">
    <div class="card-body">
      <div>
        <!-- url 'url_name' params_to_concat: /projects/id -->
        <a href="{% url 'task' task.id %}">
          <h2>{% if task.done %} ✅ {% else %} ⏰ {% endif %}{{task.title}}</h2>
        </a>

        <p>{{task.description}}</p>
        <p>{{task.user.username}}</p>
      </div>

      <!-- Btns -->
      <div class="action-btns-container">
        <form action="{% url 'complete_task' task.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">
            {% if task.done %} Complete {% else %} Incomplete {% endif %}
          </button>
        </form>

        <form action="{% url 'delete_task' task.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn-delete">Delete</button>
        </form>
      </div>
    </div>
  </div>

  {% endfor %}
</ul>

{% endblock %}
