{% extends 'layouts/task_layout.html' %}

<!-- block is a Keyword & content is a standarized name, but i could be anything -->
{% block content %}

<h1>tasks</h1>
<hr />

<!-- ====== FOR loop ====== -->
<ul class="card-container">
  {% for task in tasks %}

  <article class="card">
    <!-- url 'url_name' params_to_concat: /projects/id -->
    {% comment %} <a href="{% url 'project' project.id %}"> {% endcomment %}
      <h2>{% if task.done %} ✅ {% else %} ⏰ {% endif %}{{task.title}}</h2>
    {% comment %} </a> {% endcomment %}
  
    <p>{{task.description}}</p>
    <p>{{task.user.username}}</p>
  </article>

  {% endfor %}
</ul>

{% endblock %}
