{% extends 'layouts/task_layout.html' %}

<!-- block is a Keyword & content is a standarized name, but i could be anything -->
{% block content %}

<section class="card card-body">
  <h1 class="display-1 text-center">Django App</h1>
  <hr />

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate officia
    sint et saepe animi porro sequi repudiandae provident. Voluptas, at quod
    vel, labore neque esse eaque dolorum possimus amet dolorem perferendis
    quidem ab vero nihil reprehenderit fuga! Fugiat illo quisquam repellendus
    optio saepe omnis debitis rerum nam impedit? Quaerat dignissimos minima
    quisquam adipisci laudantium voluptatibus, atque dolores cumque impedit, quo
    quidem pariatur tempore nihil omnis! Blanditiis dignissimos officia
    veritatis praesentium exercitationem cum dolore delectus! Reiciendis ex
    blanditiis laborum quod quas libero temporibus tenetur eum sed ullam modi
    sint harum recusandae animi enim iure, iusto aliquid aspernatur. Ad
    similique quasi voluptates?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate officia
    sint et saepe animi porro sequi repudiandae provident. Voluptas, at quod
    vel, labore neque esse eaque dolorum possimus amet dolorem perferendis
    quidem ab vero nihil reprehenderit fuga! Fugiat illo quisquam repellendus
    optio saepe omnis debitis rerum nam impedit? Quaerat dignissimos minima
    quisquam adipisci laudantium voluptatibus, atque dolores cumque impedit, quo
    quidem pariatur tempore nihil omnis! Blanditiis dignissimos officia
    veritatis praesentium exercitationem cum dolore delectus! Reiciendis ex
    blanditiis laborum quod quas libero temporibus tenetur eum sed ullam modi
    sint harum recusandae animi enim iure, iusto aliquid aspernatur. Ad
    similique quasi voluptates?
  </p>

  <!-- user is provided by Django -->
  {% if not user.is_authenticated %}
  <div class="text-center">
    <a href="{% url 'signup' %}" class="btn btn-primary">Register</a>
    <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
  </div>
  {% endif %}
</section>

{% endblock %}
